{% extends "layout.html" %}
{% block content %}
<div>
<h2 class="account-heading">Stadiums of {{ current_user.clubn }}</h2></br>
</div>
{% for m in stadium.items %}
       <article class="media content-section">
         <div class="media-body">

           <h2>{{ m.name }}</h2>
           <p class="article-content">Located in {{ m.city }}</p>
</article>
   {% endfor %}
   {% for page_num in stadium.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if stadium.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('stadium',club_id=club.id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('stadium',club_id=club.id, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
